/* 
.fixed-top {
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1030;
    transition: all 0.6s cubic-bezier(0.6, -0.28, 0.74, 0.05);
  }
  
  .fixed-top.shrink .btn {
    padding: 0.4rem 0.5rem;
  }
  
  .book-call-btn {
    font-size: clamp(0.8rem, 1.2vw, 1rem);
  }
  
  .shrink {
    font-size: clamp(0.7rem, 1.2vw, 0.9rem); 
  }
  
  .navbar .btn {
    padding: 0.3rem ;
    font-size: 16px;
  }
  
  .navbar-expand .navbar-nav .nav-link {
    padding-right: .8rem;
    padding-left: .5rem;
  }
  
  .navbar {
    width: 50% !important;
    margin: 0 auto !important;
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    overflow: hidden; 
    margin-top: 0;
    transition: all 1.2s linear;
    background-color: black;
    border-radius: 15px;
  }
  
  .navbar.shrink {
    width: 40% !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    transition: all 1.4s linear;
  }
  
  .fixed-top .container {
    width: 100%;
    max-width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden; 
    padding: 5px 20px;
    transition: all 1s linear;
  }
  
  .fixed-top.shrink .container {
    width: 100%; 
    background-color: #000000;
    border-radius: 5px; 
    transition: all 0.6s ease-in-out;
    padding: 5px 20px;

  }
  
  .navbar-brand {
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: bold;
    transition: font-size 0.6s ease-in-out;
  }
  
  .navbar.shrink .navbar-brand {
    font-size: clamp(0.9rem, 1.5vw, 1rem); 
  }
  
  .navbar.shrink .btn {
    font-size: clamp(0.7rem, 1.2vw, 0.9rem);
  }
  
  .nav-link {
    font-size: clamp(0.8rem, 1.2vw, 1rem); 
    color: #ffffff;
    transition: font-size 0.6s ease-in-out;
  }
  
  .nav-link,
  .navbar-brand {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
  }
  
  
  @media (max-width: 768px) {
    .navbar {
      width: 100%; 
    }
  
    .navbar.shrink {
      width: 90%; 
    }
  
    .fixed-top .container {
      width: 100%; 
      display: flex;
      justify-content: space-between; 
      align-items: center;
      padding: 5px 10px;
    }
  
  
    .navbar.shrink {
      width: 40% !important;    
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
      transition: all 1.4s linear;
    }
  
    .navbar.shrink .container {
      justify-content: space-between;
    }

  }
  
  .fixed-top.shrink {
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translateX(-60%);
  }
  
   */


