@import "tailwindcss";

@theme {
    --color-background-gray : rgb(245, 245, 245);
    --color-background-black : black;
    --color-background-light-black : #171717;
    --color-background-red : #ff2424;

    --color-button-red : #ff2424;
    --color-button-gray : rgb(245, 245, 245);
    --color-hover-blue : #8a5cff;
    --color-hover-red : #ff2424;

    --color-text-black : black;
    --color-text-red : #ff2424;
    --color-heading-red : black;
    --color-text-white : white;

    --shadow-blog:rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.20) 0px 0px 0px 0px;
}

.hover-effect {
    @apply transition-all duration-500 relative 
    hover:text-transparent hover:bg-[url("./ClientLogo/hero.69.jpg")] 
    hover:bg-cover hover:bg-center hover:bg-no-repeat 
    hover:w-full hover:h-full hover:rounded-[20px];
}

.hovered {
    background-image: url('ClientLogo/hero.69.jpg');
    background-size: cover;
    background-position: center;
  }
  
