@import "tailwindcss";

@theme {
    --color-background-gray : rgb(245, 245, 245);
    --color-background-black : black;
    --color-background-light-black : #171717;
    --color-background-red : #ff2424;

    --color-button-red : #ff2424;
    --color-button-gray : rgb(245, 245, 245);
    --color-hover-blue : #8a5cff;
    --color-hover-red : #ff2424;

    --color-text-black : black;
    --color-text-red : #ff2424;
    --color-heading-red : black;
    --color-text-white : white;
}